@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: hsl(0, 0%, 98%);
  color: hsl(229, 6%, 66%);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 30px;
}

header {
  text-align: center;
}

header h2 {
  font-size: 34px;
  font-weight: 200;
  color: hsl(234, 12%, 34%);
}

header h3 {
  font-size: 34px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

header p {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-top: 60px;
}

.box {
  background-color: #fff;
  border-radius: 7px;
  padding: 30px;
  text-align: right;
}

.box-text {
  text-align: left;
  padding-bottom: 50px;
}

.box1 {
  border-top: 4px solid hsl(180, 62%, 55%);
}

.box2 {
  border-top: 4px solid hsl(0, 78%, 62%);
}

.box3 {
  border-top: 4px solid hsl(34, 97%, 64%);
}

.box4 {
  border-top: 4px solid hsl(212, 86%, 64%);
}

.box-text h5 {
  font-size: 20px;
  color: hsl(234, 12%, 34%);
  margin-bottom: 10px;
}

.box-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.box1,
.box4 {
  align-self: center;
}

@media only screen and (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 425px) {
  body {
    font-size: 13px;
  }

  header h2 {
    font-size: 22px;
  }

  header h3 {
    font-size: 22px;
  }

  .box {
    padding: 20px;
  }

  .box-text {
    padding-bottom: 30px;
  }
}
/* Github link 
.link {
  position: fixed;
  background-color: #191919;
  padding: 23px 40px;
  right: -100px;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-90deg);
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.1s ease-in-out;
}

.link i {
  padding-left: 7px;
}

.link:hover {
  text-decoration: underline;
  background-color: black;
}*/

/*  Attribution (footer stylisation) */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}